/* IE 8 CSS
-----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------- */
body #content {margin-top:11px;}
body ul#mainNav li ul {margin-top:-1px; z-index:2; }
body #leftSidebarTopGradient {margin:1px 0 0 0;}
body #leftSidebar {margin:1px 0 0 0;}
body #rightSidebarTopGradient {margin-top:1px;}
body #rightSidebar {margin-top:1px;}